# Builds
/build

# Dependency directories
/node_modules

# Test coverage
/coverage

# Environment variables files
.env*.local

# Logs
yarn-debug.log*
yarn-error.log*

# Cache
.eslintcache
.webpack/cache
